<div [@routerTransition]>
  <app-page-header [heading]="'Réserver produits'" [icon]="'fa-edit'"></app-page-header>
  <div class="jumbotron">
        <form role="form">
            <div class="card mb-3">
                <div class="card-header" style="font-weight:bold">
                    <i class="fa fa-list" style="font-size:17px"></i> Réserver des produits d'une pharmacie sur la région de <label style="font-weight: bold;font-size: 25px" >{{userss.pharmacie.region.nom}}</label>
                </div>
                 <br/>
                <div class="form-group input-group" style="width: 40%; margin-left:30%">
                    <input type="text" class="form-control" [(ngModel)]="recherche" placeholder="Rechercher un produit" name="recherche">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="rechercherProduit()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="text-align: center">
                                <th>Nom produit</th>
                                <th>Nom pharmacie</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>date fin de consommation</th>
                                <th>prix(DT)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center" *ngFor="let prodPharma of produitPharmacie">
                                <td>{{prodPharma.produit.nom}}</td>  
                                <td>{{prodPharma.pharmacie.nom}}</td>
                                <td>{{prodPharma.pharmacie.adresse}}</td>
                                <td>{{prodPharma.pharmacie.tel}}</td>
                                <td>{{prodPharma.dfc}}</td>
                                <td>{{prodPharma.prixVente}}</td>
                                <td><button type="button"  (click)="reserverProduit(prodPharma.pharmacie.id,prodPharma.produit.code,prodPharma,contents)"  class="btn btn-success" ><i class="fa fa-shopping-basket" style="font-size:15px;margin-right: 4%"></i>Réserver !</button></td>       
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #contents let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title" style="margin-left: 2%"><i class="fa fa-check" aria-hidden="true" style="color: green"></i>Succés</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Produit réservé avec succés!</p>
                            </div>  
                            <div class="modal-footer" style="margin-right: 30%">
                                <button type="button" class="btn btn-success" (click)="c('Close click')" style="width: 40%">ok !</button>
                            </div>
                    </ng-template>
                </div>
            </div>    
        </form>     
    </div>
</div>
