<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a class="list-group-item">
            <i class="fa fa-home"  style="font-size:19px"></i>&nbsp;Accueil
        </a>
        <a  class="list-group-item">
            <i class="fa fa-medkit" style="font-size:18px"></i>&nbsp;Gestion des stocks
        </a>
        <a  class="list-group-item">
            <i class="fa fa-hospital-o" style="font-size:18px"></i>&nbsp;Liste des pharmacies
        </a>
        <a  class="list-group-item">
                <i class="fa fa-shopping-cart" style="font-size:18px"></i>&nbsp;Liste des commandes
            </a>        
    </div>
</nav>
